body {
background-color: #a71717;
color: white;
font-family: "Bai Jamjuree", sans-serif;
display: flex;
justify-content: center;
align-items: center;
height: 700px;
margin: 0;
}

button {
background-color: #2b1f2c;
color: white;
font-family: "Bai Jamjuree", sans-serif;
}